services:
  db:
    container_name: oceanus-db
    image: oceanus-db:latest
    pull_policy: never
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-oceanus}
      POSTGRES_USER: ${POSTGRES_USER:-oceanus}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-oceanus}
    ports:
      - "5432:5432"
    volumes:
      - oceanus-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER:-oceanus} -d $${POSTGRES_DB:-oceanus}" ]
      interval: 15s
      timeout: 3s
      retries: 3
      start_period: 5s
    networks:
      - oceanus-network

  dicom-server:
    container_name: oceanus-dicom-server
    image: oceanus-dicom-server:latest
    pull_policy: never
    build:
      context: ./src
      dockerfile: Dockerfile
      target: dicom-server
    environment:
      DATABASE_URL: ${DICOM_SERVER_DATABASE_URL}
      AE_TITLE: ${AE_TITLE:-OCEANUS}
      PORT: ${DICOM_PORT:-104}
      DATA_DIR: ${DATA_DIR:-/var/lib/oceanus}
    healthcheck:
      test: [ "CMD", "/bin/busybox", "nc", "-z", "localhost", "104" ]
      interval: 15s
      timeout: 3s
      retries: 3
      start_period: 5s
    network_mode: host
    volumes:
      - ${DATA_DIR:-/var/lib/oceanus}:${DATA_DIR:-/var/lib/oceanus}:Z
    depends_on:
      db:
        condition: service_healthy

  web-api:
    container_name: oceanus-web-api
    image: oceanus-web-api:latest
    pull_policy: never
    build:
      context: ./src
      dockerfile: Dockerfile
      target: web-api
    environment:
      DATABASE_URL: ${DATABASE_URL}
    expose:
      - "8080"
    healthcheck:
      test: [ "CMD", "/bin/busybox", "wget", "--spider", "-q", "http://localhost:8080/health" ]
      interval: 15s
      timeout: 3s
      retries: 3
      start_period: 5s
    depends_on:
      db:
        condition: service_healthy
    networks:
      - oceanus-network

  web-ui:
    container_name: oceanus-web-ui
    image: oceanus-web-ui:latest
    pull_policy: never
    build:
      context: ./src/web-ui
      dockerfile: Dockerfile
    ports:
      - "80:80"
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost/" ]
      interval: 15s
      timeout: 3s
      retries: 3
      start_period: 5s
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro,Z
    depends_on:
      web-api:
        condition: service_healthy
    networks:
      - oceanus-network

volumes:
  oceanus-db-volume:
    name: oceanus-db-volume

networks:
  oceanus-network:
    name: oceanus-network
