services:
  db:
    container_name: oceanus-db
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-oceanus}
      POSTGRES_USER: ${POSTGRES_USER:-oceanus}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-oceanus}
    ports:
      - "5432:5432"
    volumes:
      - oceanus-db-volume:/var/lib/postgresql/data
    networks:
      - oceanus-network

volumes:
  oceanus-db-volume:
    name: oceanus-db-volume

networks:
  oceanus-network:
    name: oceanus-network
