services:
  db:
    container_name: oceanus-db
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-oceanus}
      POSTGRES_USER: ${POSTGRES_USER:-oceanus}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-oceanus}
    ports:
      - "5432:5432"
    volumes:
      - oceanus-volume:/var/lib/postgresql/data
    networks:
      - default

volumes:
  oceanus-volume:
    name: oceanus-volume

networks:
  default:
    name: oceanus-network
