services:
  db:
    container_name: oceanus-db
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-oceanus}
      POSTGRES_USER: ${POSTGRES_USER:-oceanus}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-oceanus}
    ports:
      - "5432:5432"
    volumes:
      - oceanus-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER:-oceanus} -d $${POSTGRES_DB:-oceanus}"]
      interval: 15s
      timeout: 3s
      retries: 3
      start_period: 5s
    networks:
      - oceanus-network

volumes:
  oceanus-db-volume:
    name: oceanus-db-volume

networks:
  oceanus-network:
    name: oceanus-network
